<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Property ID</th>
            <th>Address ID</th>
            <th>Property Name</th>
            <th>Square Feet</th>
            <th>Number of Bedrooms</th>
            <th>Number of Bathrooms</th>
            <th>Number of Vehicles</th>
            <th>Has Outdoor Space</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="property in properties">
            <td>{{property.PropertyId}}</td>
            <td>{{property.AddressId}}</td>
            <td>{{property.PropertyName}}</td>
            <td>{{property.SquareFeet}}</td>
            <td>{{property.NumberOfBedrooms}}</td>
            <td>{{property.NumberOfBathrooms}}</td>
            <td>{{property.NumberOfVehicles}}</td>
            <td>{{property.HasOutdoorSpace}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/app/property/detail/{{property.PropertyId}}">
                    Edit
                </a>
                <a class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>

    </tbody>
</table>
   