<form name="propertyDetailForm">
    <div class="form-group">
        <label>Property Name</label>
        <input type="text" class="form-control" ng-model="property.PropertyName" />
    </div>
    <div class="form-group">
        <label>Address 1</label>
        <input type="text" class="form-control" ng-model="property.Address1" />
    </div>
    <div class="form-group">
        <label>Address 2</label>
        <input type="text" class="form-control" ng-model="property.Address2" />
    </div>
    <div class="form-group">
        <label>Address 3</label>
        <input type="text" class="form-control" ng-model="property.Address3" />
    </div>
    <div class="form-group">
        <label>Address 4</label>
        <input type="text" class="form-control" ng-model="property.Address4" />
    </div>
    <div class="form-group">
        <label>Address 5</label>
        <input type="text" class="form-control" ng-model="property.Address5" />
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" ng-model="property.City" />
    </div>
    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" ng-model="property.State" />
    </div>
    <div class="form-group">
        <label>Postcode</label>
        <input type="text" class="form-control" ng-model="property.Postcode" />
    </div>
</form>

<div class="well clearfix">
    <button class="btn btn-success pull-right" ng-click="saveProperty()">
    Save</button>
</div>
